body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #3B3B3B;
    color: whitesmoke;
    /* overflow: hidden; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}